<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <p>
                Formula House is your premier destination for all things Formula 1. From the latest race results and championship standings to in-depth analyses
                and driver interviews, we bring the thrill of the track right to your screen. Stay updated with our live race coverage, expert commentary, and
                exclusive behind-the-scenes content.
            </p>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        2024 © Formula House : by <a class="text-white" target="__blank" href="https://t.me/juanaiss">Aisultan Omarbek SE-2202</a>
    </div>
</footer>
